    * {
        background-color: rgb(36, 36, 49);
        font-family: "Verdana", sans-serif;
    }

    .main-page {
        width: 100%;
        height: 100%;
    }

    .message {
        width: 60%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        padding: 20px;
        padding-top: 0px;
        justify-content: center;
    }

    .message-box {
        color: white;
        width: calc(100% - 80px);
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;

    }

    .send-button {
        padding: 8px 15px;
        background-color: #4CAF50;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer
    }

    .chat-box {
        width: 60%;
        color: white;
        line-height: 1.5;
        padding: 10px;
        justify-content: center;
        align-items: center;
        display: flex-column;
        font-size: 0.8rem;
        margin: 0 auto;
        bottom: 100px;
        overflow-y: auto; 
        max-height: 80vh; 
    }

    .chat-box::-webkit-scrollbar {
        width: 7px;
    }

    .chat-box::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 5px;
    }

    .chat-message {
        padding: 10px;
        margin: 10px 30px 0px 10px;
    }
    .chat-image {
        max-width: 80%;
        max-height: 80%;

    }

    p {
        color: white;
        line-height: 1.5;
        font-size: 0.65rem;
    }

    h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }